<header class="header">
  <div class="header-left">
    <nav class="navigation">
      <ul class="navigation-list">
        <li>
          <a class="navigation-link" href="#">Главная</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link subnav" href="#">Статьи</a>
          <ul class="subnav-list">
            <li>
              <a class='subnav-link' href="#">Музыка</a>
            </li>
            <li>
              <a class='subnav-link' href="#">Путешествия</a>
            </li>
            <li>
              <a class='subnav-link' href="#">Работа</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="navigation-link" href="#">Обо мне</a>
        </li>
        <li>
          <a class="navigation-link" href="#">Реклама</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-right">
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="navigation-link" href="#">Профиль</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="#">Выйти</a>
        </li>
      </ul>
    </nav>
    <form class="search" action="/" method="post">
      <input class="search-input" type="text" placeholder="Поиск по блогу">
    </form>
  </div>
</header>